// _typography.scss

////= Typographic Styling
//======================================================================//

b,
strong {
  font-weight: bold;
}

blockquote,
dfn {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: pxem(36px);
  margin-bottom: pxem(50px);
  margin-top: pxem(10px);
}

small {
  font-size: $small-font;
}

sub,
sup {
  font-size: $sub-font;
  line-height: 0;
}
