// _blog.scss

////= Blog Page Styling
//===========================================================================//

.blog {
  position: relative;

  @include el(icon) {
    display: inline;
  }

  @include el(hyperlink) {
    position: relative;

    &::after {
      color: $link-color;
    }

    &:visited::after {
      color: $note-color;
    }
  }
}
