// _board.scss

////= Board Styling
//===========================================================================//

.board {
  background: $board-color;
  border-radius: pxem(20px);
  // height: 100%;
  padding: pxem(10px);
  position: absolute;
  width: 100%;
}
