// _header.scss

////= Header Styling
//======================================================================//

.header {
  @extend .center-align;
  padding-bottom: pxem(35px);
  padding-top: pxem(35px);
  position: relative;
  z-index: z('floor');
}
