// _space.scss

////= Space Styling
//======================================================================//

.space {
  @extend .center-align;
  border-radius: $round-radius;
  height: pxem(80px);
  margin-top: pxem(4px);
  width: 100%;

  @include el(vacant) {
    @extend .space;
    background-color: $space-color;

    &:hover {
      -moz-animation-duration: $speed--qck;
      -o-animation-duration: $speed--qck;
      -webkit-animation-duration: $speed--qck;
      animation-duration: $speed--qck;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -moz-animation-name: pulse;
      -o-animation-name: pulse;
      -webkit-animation-name: pulse;
      animation-name: pulse;
      background-color: $highlight-color;
      opacity: .65;
    }
  }

}

.space__player-one-chip {
  @extend .space;
  @extend .animated;
  @extend .bounceInDown;
  background-color: $player-one-color;
  border: $chip-border;
}

.space__player-two-chip {
  @extend .space;
  @extend .animated;
  @extend .bounceInDown;
  background-color: $player-two-color;
  border: $chip-border;
}
